# docker-compose.yaml for Creators Dashboard developers edition
services:
  ##################################
  # Welcome Service
  ##################################
  welcome:
    image: ghcr.io/agile-crafts-people/impact:latest
    ports:
      - "127.0.0.1:8080:80"
    profiles:
      - all
      - runbook
      - mongodb
      - profile
      - profile-api
      - evaluator
      - evaluator-api
      - dashboard
      - dashboard-api
      - classifier
      - classifier-api

  ##################################
  # Custom Runbook API Service (Deployed Profile)
  ##################################
  runbook-api:
    image: ghcr.io/agile-crafts-people/impact_runbook_api:latest
    container_name: runbook_api
    working_dir: /opt/stage0/runner
    restart: no
    ports:
      - "127.0.0.1:9090:9090"
    environment:
      API_PORT: 9090
      ENABLE_LOGIN: "true"
      LOGGING_LEVEL: "INFO"
      JWT_SECRET: ${JWT_SECRET}
      GITHUB_TOKEN: ${GITHUB_TOKEN}
      SSH_KEY: ${SSH_KEY}
      MOUNT_DIR: ${MOUNT_DIR}
      UI_HEADER: "Creators Dashboard Packaged Runbooks"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ${MOUNT_DIR}:/execution 
    profiles:
      - all
      - runbook

  runbook-spa:
    image: ghcr.io/agile-learning-institute/stage0_runbook_spa:latest
    container_name: runbook_spa
    restart: no
    ports:
      - "127.0.0.1:9091:80"
    environment:
      API_HOST: runbook-api
      API_PORT: 9090
      IDP_LOGIN_URI: ${IDP_LOGIN_URI:-http://localhost:9091/login}
    depends_on:
      runbook-api:
        condition: service_started
    profiles:
      - all
      - runbook

  ##################################
  # Backing Services 
  ##################################
  # MongoDB backing service 
  mongodb:
    image: mongo:7.0.5
    ports:
      - "127.0.0.1:27017:27017"
    extra_hosts:
      - "mongodb:127.0.0.1"
    healthcheck:
      test: echo "db.runCommand('ping')" | mongosh --port 27017 --quiet
      interval: 5s
      timeout: 30s
      start_period: 0s
      retries: 3
    command: ["--bind_ip_all", "--port", "27017"]
    profiles:
      - all
      - mongodb
      - profile
      - profile-api
      - evaluator
      - evaluator-api
      - dashboard
      - dashboard-api
      - classifier
      - classifier-api

  ##################################
  # Mongo Database Configuration Utilities
  ##################################
  mongodb_api:
    image: ghcr.io/agile-crafts-people/impact_mongodb_api:latest
    restart: no
    ports:
      - "127.0.0.1:9092:9092"
    environment:
      MONGO_CONNECTION_STRING: mongodb://mongodb:27017/
      MONGODB_REQUIRE_TLS: False
      MONGO_DB_NAME: impact
      AUTO_PROCESS: True
      LOAD_TEST_DATA: True
      API_PORT: 9092
      SPA_PORT: 9093
      UI_HEADER: "Creators Dashboard MongoDB Configurations"
    depends_on:
      mongodb:
        condition: service_healthy
    profiles:
      - all
      - mongodb

  mongodb_spa:
    image: ghcr.io/agile-learning-institute/mongodb_configurator_spa:latest
    restart: no
    ports:
      - "127.0.0.1:9093:9093"
    environment:
      API_HOST: mongodb_api
      API_PORT: 9092
      SPA_PORT: 9093
    depends_on:
      mongodb_api:
        condition: service_started
    profiles:
      - all
      - mongodb

  ##################################
  # Profile Domain
  ##################################
  profile_api:
    image: ghcr.io/agile-crafts-people/impact_profile_api:latest
    container_name: profile_api
    restart: no
    ports:
      - "127.0.0.1:9096:9096"
    environment:
      MONGO_CONNECTION_STRING: mongodb://mongodb:27017/
      MONGODB_REQUIRE_TLS: "false"
      MONGO_DB_NAME: impact
      ENABLE_LOGIN: "true"
      LOGGING_LEVEL: "INFO"
      JWT_SECRET: ${JWT_SECRET}
      API_PORT: 9096
    depends_on:
      mongodb:
        condition: service_healthy
    profiles:
      - all
      - profile
      - profile-api

  profile_spa:
    image: ghcr.io/agile-crafts-people/impact_profile_spa:latest
    container_name: profile_spa
    restart: no
    ports:
      - "127.0.0.1:9097:80"
    environment:
      API_HOST: profile_api
      API_PORT: 9096
      IDP_LOGIN_URI: ${IDP_LOGIN_URI:-http://localhost:9097/login}
    depends_on:
      profile_api:
        condition: service_started
    profiles:
      - all
      - profile

  ##################################
  # Evaluator Domain
  ##################################
  evaluator_api:
    image: ghcr.io/agile-crafts-people/impact_evaluator_api:latest
    container_name: evaluator_api
    restart: no
    ports:
      - "127.0.0.1:9098:9098"
    environment:
      MONGO_CONNECTION_STRING: mongodb://mongodb:27017/
      MONGODB_REQUIRE_TLS: "false"
      MONGO_DB_NAME: impact
      ENABLE_LOGIN: "true"
      LOGGING_LEVEL: "INFO"
      JWT_SECRET: ${JWT_SECRET}
      API_PORT: 9098
    depends_on:
      mongodb:
        condition: service_healthy
    profiles:
      - all
      - evaluator
      - evaluator-api

  evaluator_spa:
    image: ghcr.io/agile-crafts-people/impact_evaluator_spa:latest
    container_name: evaluator_spa
    restart: no
    ports:
      - "127.0.0.1:9099:80"
    environment:
      API_HOST: evaluator_api
      API_PORT: 9098
      IDP_LOGIN_URI: ${IDP_LOGIN_URI:-http://localhost:9099/login}
    depends_on:
      evaluator_api:
        condition: service_started
    profiles:
      - all
      - evaluator

  ##################################
  # Dashboard Domain
  ##################################
  dashboard_api:
    image: ghcr.io/agile-crafts-people/impact_dashboard_api:latest
    container_name: dashboard_api
    restart: no
    ports:
      - "127.0.0.1:9100:9100"
    environment:
      MONGO_CONNECTION_STRING: mongodb://mongodb:27017/
      MONGODB_REQUIRE_TLS: "false"
      MONGO_DB_NAME: impact
      ENABLE_LOGIN: "true"
      LOGGING_LEVEL: "INFO"
      JWT_SECRET: ${JWT_SECRET}
      API_PORT: 9100
    depends_on:
      mongodb:
        condition: service_healthy
    profiles:
      - all
      - dashboard
      - dashboard-api

  dashboard_spa:
    image: ghcr.io/agile-crafts-people/impact_dashboard_spa:latest
    container_name: dashboard_spa
    restart: no
    ports:
      - "127.0.0.1:9101:80"
    environment:
      API_HOST: dashboard_api
      API_PORT: 9100
      IDP_LOGIN_URI: ${IDP_LOGIN_URI:-http://localhost:9101/login}
    depends_on:
      dashboard_api:
        condition: service_started
    profiles:
      - all
      - dashboard

  ##################################
  # Classifier Domain
  ##################################
  classifier_api:
    image: ghcr.io/agile-crafts-people/impact_classifier_api:latest
    container_name: classifier_api
    restart: no
    ports:
      - "127.0.0.1:9102:9102"
    environment:
      MONGO_CONNECTION_STRING: mongodb://mongodb:27017/
      MONGODB_REQUIRE_TLS: "false"
      MONGO_DB_NAME: impact
      ENABLE_LOGIN: "true"
      LOGGING_LEVEL: "INFO"
      JWT_SECRET: ${JWT_SECRET}
      API_PORT: 9102
    depends_on:
      mongodb:
        condition: service_healthy
    profiles:
      - all
      - classifier
      - classifier-api

  classifier_spa:
    image: ghcr.io/agile-crafts-people/impact_classifier_spa:latest
    container_name: classifier_spa
    restart: no
    ports:
      - "127.0.0.1:9103:80"
    environment:
      API_HOST: classifier_api
      API_PORT: 9102
      IDP_LOGIN_URI: ${IDP_LOGIN_URI:-http://localhost:9103/login}
    depends_on:
      classifier_api:
        condition: service_started
    profiles:
      - all
      - classifier